*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Companheiro SC', sans-serif; 
}

.caixa-principal{
    height: 100vh;
    width: 100%;
    background-color: #191919;
    background-image: url(imagem/logo.png);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;

}

.portifolio{
    color: antiquewhite;
    font-size: 45px;
}

.portifolio span{
    color: rgb(238, 218, 61);

}

li{
    color: antiquewhite;
    list-style: none;
    display: inline-block;
    font-size: 23px;
    margin-right: 20px;
    cursor: pointer;
}

li:hover{
    color: #191919;
    border-bottom: rgb(238, 218, 61);
    background-color: rgb(238, 218, 61);
    font-size: 28px;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: 0 0 20px rgb(238, 218, 61),
    0 0 2px rgb(238, 218, 61), 0 0 5px rgb(238, 218, 61), 0 0 10px rgb(238, 218, 61), 0 0 20px rgb(238, 218, 61);
}

.nome{
    position: absolute;
    top: 40%;
    left: 8%;
    font-size: 50px;
    color: blanchedalmond;
}

.nome span{
    color: rgb(238, 218, 61);
}

section{
    display: flex;
    align-items: center;
    padding: 20px 0;
    background-color: rgb(238, 218, 61);

}

section img{
    height: 700px;
}

section div h2{
    color: #191919;
    font-size: 70px;
    margin-left: 200;
    margin-top: 40px;
    margin-left: 240px;
}

section div p{
    color: #191919;
    font-size: 20px;
    border-radius: 50px;
    padding: 20px;
    border: 20px solid blanchedalmond;
    margin-top: 50px;
    margin-right: 40px;
}
